{#
# vim: se filetype=jinja2 :
#}
# i3 config file (v4)
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

############################## System Appearance ###############################
{% include 'colours.i3' %}

# Font for window titles. Will also be used by the bar unless a different
# font is used in the bar {} block below.
font pango: "Fura Mono Nerd Font" 10 #, FontAwesome 10

# Top Bar to hold status information
bar {
		 # i3bar_command ~/code/personal/dotfiles/polybar/launch.py
		 i3bar_command systemctl --user start polybar
}

################################################################################
############################### System Key Binds ###############################
{% include 'keybinds.i3' %}

################################################################################
############################## System Behaviour ################################

# Don't by default steal focus even if the requesting window is on an
# active workspace
focus_on_window_activation urgent

{% include 'workspace_setup.j2' %}


################################################################################
############################## System Startup ##################################
{% include 'startup.i3' %}
